@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
fieldset,
img {
  border: 0;
}
li {
  list-style: none;
}
input,
textarea,
select {
  font-size: 110%;
  line-height: 1.1;
}
a {
  color: black;
  text-decoration: none;
}
html,
body {
  height: 100%;
}
body {
  background: url(../img/bgBody.jpg) repeat;
  color: #7e7d7e;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}
#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}
#wrapper #mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
#mainAside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  position: relative;
  -webkit-box-shadow: 3px 0px 5px -2px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 3px 0px 5px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 0px 5px -2px rgba(0, 0, 0, 0.5);
}
#mainAside .logo {
  margin: 20px 0 40px 0;
}
#mainAside .mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
#mainAside .mainNav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 219px;
  height: 44px;
  margin: 10px 0 10px 0;
  position: relative;
  left: 26px;
}
#mainAside .mainNav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 219px;
  height: 44px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
#mainAside .mainNav ul li a span {
  position: relative;
  left: 55px;
}
#mainAside .mainNav ul li .home {
  color: #7e7d7e;
  background: url("../img/iconMenu.png") 0 0;
  width: 40px;
  height: 44px;
}
#mainAside .mainNav ul li .home:hover {
  color: #fff;
  background: url("../img/iconMenu.png") -42px 0;
  width: 219px;
  height: 44px;
}
#mainAside .mainNav ul li .activeHome {
  color: #fff;
  background: url("../img/iconMenu.png") -42px 0;
  width: 219px;
  height: 44px;
}
#mainAside .mainNav ul li .videos {
  color: #7e7d7e;
  background: url("../img/iconMenu.png") 0 -51px;
  width: 40px;
  height: 44px;
}
#mainAside .mainNav ul li .videos:hover {
  color: #fff;
  background: url("../img/iconMenu.png") -42px -50px;
  width: 219px;
  height: 44px;
}
#mainAside .mainNav ul li .activeVideos {
  color: #fff;
  background: url("../img/iconMenu.png") -42px -50px;
  width: 219px;
  height: 44px;
}
#mainAside .mainNav ul li .images {
  color: #7e7d7e;
  background: url("../img/iconMenu.png") 0 -101px;
  width: 40px;
  height: 44px;
}
#mainAside .mainNav ul li .images:hover {
  color: #fff;
  background: url("../img/iconMenu.png") -42px -100px;
  width: 219px;
  height: 44px;
}
#mainAside .mainNav ul li .activeImages {
  color: #fff;
  background: url("../img/iconMenu.png") -42px -100px;
  width: 219px;
  height: 44px;
}
#mainAside .mainNav ul li .articles {
  color: #7e7d7e;
  background: url("../img/iconMenu.png") 0 -151px;
  width: 40px;
  height: 44px;
}
#mainAside .mainNav ul li .articles:hover {
  color: #fff;
  background: url("../img/iconMenu.png") -42px -150px;
  width: 219px;
  height: 44px;
}
#mainAside .mainNav ul li .freebies {
  color: #7e7d7e;
  background: url("../img/iconMenu.png") 0 -151px;
  width: 40px;
  height: 44px;
}
#mainAside .mainNav ul li .freebies:hover {
  color: #fff;
  background: url("../img/iconMenu.png") -42px -150px;
  width: 219px;
  height: 44px;
}
#mainAside .mainNav ul li .activeArticles {
  color: #fff;
  ackground: url("../img/iconMenu.png") -42px -150px;
  width: 219px;
  height: 44px;
}
#mainAside .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 200px;
  margin: 40px 0 40px 0;
  position: relative;
  left: 10px;
}
#mainAside .about h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
#mainAside .about p {
  font-size: 16px;
}
#mainAside .tags {
  text-align: center;
  margin-bottom: 70px;
}
#mainAside .tags h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
#mainAside .tags h2 img {
  width: 32px;
  height: 28px;
  position: relative;
  top: 5px;
  left: -10px;
}
#mainAside .tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 180px;
  height: 120px;
}
#mainAside .tags ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 54px;
  height: 26px;
  background: #eaeaea;
  border: #d1d1d1 1px solid;
  border-radius: 5px;
}
#mainAside .tags ul li:hover {
  background: #d1d1d1;
  border: #b7b7b7 1px solid;
}
#mainAside .tags ul li a {
  color: #7e7d7e;
}
#mainSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: url(../img/bgContent.jpg) repeat;
  border-top: #6cb9d4 7px solid;
  padding-top: 30px;
}
#mainSection .mainName-SocialNetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px 0 70px;
  margin-bottom: 30px;
}
#mainSection .mainName-SocialNetwork .caption h1 {
  font-size: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
#mainSection .mainName-SocialNetwork .caption h1 i {
  display: block;
  background: url("../img/iconCamera.png");
  width: 45px;
  height: 35px;
  margin-right: 20px;
}
#mainSection .mainName-SocialNetwork .caption h1 span {
  font-weight: bold;
  margin-right: 10px;
}
#mainSection .mainName-SocialNetwork .link-net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainSection .mainName-SocialNetwork .link-net ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
#mainSection .mainName-SocialNetwork .link-net ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#mainSection .mainName-SocialNetwork .link-net ul li .twitterH {
  display: block;
  background: url("../img/iconHeader.png") 0 0;
  width: 53px;
  height: 33px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .twitterH:hover {
  background-position: 0 -33.00001144px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .facebookH {
  display: block;
  background: url("../img/iconHeader.png") -55px 0;
  width: 46px;
  height: 33px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .facebookH:hover {
  background-position: -55px -33.00000381px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .googleH {
  display: block;
  background: url("../img/iconHeader.png") -103.00000763px 0;
  width: 46px;
  height: 33px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .googleH:hover {
  background-position: -103.00000763px -34.00000381px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .pinterestH {
  display: block;
  background: url("../img/iconHeader.png") -152.00000763px 0;
  width: 45px;
  height: 33px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .pinterestH:hover {
  background-position: -152.00000763px -34.00000381px;
}
#mainSection .mainVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainSection .mainVideo .video-player {
  width: 666px;
  height: 326px;
  margin-bottom: 5px;
}
#mainSection .mainVideo .comm-video-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 666px;
  background: #eaeaea;
  border: #d1d1d1 1px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}
#mainSection .mainVideo .comm-video-player ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 5px;
}
#mainSection .mainVideo .comm-video-player ul li {
  margin-left: 20px;
}
#mainSection .mainVideo .comm-video-player ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6cb9d4;
}
#mainSection .mainVideo .comm-video-player ul li a .transition {
  display: block;
  background: url("../img/sprites.png") -4px -7px;
  width: 15px;
  height: 13px;
  position: relative;
  left: -5px;
}
#mainSection .mainVideo .comm-video-player ul li a .like {
  display: block;
  background: url("../img/sprites.png") -25px -7px;
  width: 12px;
  height: 12px;
  position: relative;
  left: -5px;
}
#mainSection .mainVideo .comm-video-player ul li a .share {
  display: block;
  background: url("../img/sprites.png") -44px -5px;
  width: 17px;
  height: 18px;
  position: relative;
  left: -5px;
}
#mainSection .viewPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 30px 50px;
}
#mainSection .viewPanel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainSection .viewPanel ul li:first-child {
  position: relative;
  right: 10px;
}
#mainSection .viewPanel ul li .line-view {
  display: block;
  background: url("../img/viewIcon.png") 0 0;
  width: 39px;
  height: 32px;
}
#mainSection .viewPanel ul li .line-view:hover {
  background-position: 0 -36px;
}
#mainSection .viewPanel ul li .line-view-active {
  display: block;
  background: url("../img/viewIcon.png") 0 -36px;
  width: 39px;
  height: 32px;
}
#mainSection .viewPanel ul li .block-view {
  display: block;
  background: url("../img/viewIcon.png") -43px 0;
  width: 43px;
  height: 32px;
}
#mainSection .viewPanel ul li .block-view:hover {
  background-position: -43px -36px;
}
#mainSection .viewPanel ul li .block-view .block-view-active {
  display: block;
  background: url("../img/viewIcon.png") -43px -36px;
  width: 43px;
  height: 32px;
}
#mainSection .mainArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainSection .mainArticle article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  background: #fff;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
#mainSection .mainArticle article .previewVideo {
  display: block;
  width: 258px;
  height: 208px;
  position: relative;
  top: -60px;
}
#mainSection .mainArticle article .previewVideo .iconVideoForArticle {
  z-index: 2;
  display: block;
  background: url("../img/iconVideoCon.png");
  width: 60px;
  height: 60px;
  position: relative;
  top: 130px;
  left: -30px;
}
#mainSection .mainArticle article .previewVideo .img-player {
  z-index: 1;
  width: 258px;
  height: 208px;
}
#mainSection .mainArticle article .descriptionVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 340px;
  position: relative;
  left: 15px;
}
#mainSection .mainArticle article .descriptionVideo h2 {
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}
#mainSection .mainArticle article .descriptionVideo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: #e4e3e4 6px double;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
#mainSection .mainArticle article .descriptionVideo ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7e7d7e;
  font-size: 11px;
  margin-right: 15px;
}
#mainSection .mainArticle article .descriptionVideo ul li .like,
#mainSection .mainArticle article .descriptionVideo ul li .comment,
#mainSection .mainArticle article .descriptionVideo ul li .time {
  margin-right: 5px;
}
#mainSection .mainArticle article .descriptionVideo ul li .like {
  display: block;
  background: url("../img/sprites.png") -8px -34px;
  width: 9px;
  height: 8px;
}
#mainSection .mainArticle article .descriptionVideo ul li .comment {
  display: block;
  background: url("../img/sprites.png") -28px -34px;
  width: 8px;
  height: 8px;
}
#mainSection .mainArticle article .descriptionVideo ul li .time {
  display: block;
  background: url("../img/sprites.png") -48px -34px;
  width: 8px;
  height: 8px;
}
#mainSection .mainArticle article .descriptionVideo p {
  font-size: 14px;
}
#mainSection .mainArticle article .viewMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#mainSection .mainArticle article .viewMore a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e4e3e4;
  width: 30px;
  height: 30px;
  border-top-left-radius: 30px;
}
#mainSection .mainArticle article .viewMore a:hover {
  background: #b1b0b1;
}
#mainSection .mainArticle article .viewMore a .viewArrow {
  position: relative;
  top: 2px;
  left: 2px;
}
#mainFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 75px;
  background: #ffffff;
  border-top: #000 10px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px 0 30px;
}
#mainFooter .footerText ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
#mainFooter .footerText ul li:first-child {
  padding-right: 5px;
  margin-right: 5px;
  border-right: #7e7d7e 1px solid;
}
#mainFooter .footerText ul li:last-child {
  padding-left: 5px;
  margin-left: 5px;
  border-left: #7e7d7e 1px solid;
}
#mainFooter .footerText ul li a {
  color: #7e7d7e;
}
#mainFooter .footerText ul li a:hover {
  text-decoration: underline;
}
#mainFooter .link-tfp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
#mainFooter .link-tfp li {
  margin-left: 20px;
}
#mainFooter .link-tfp li .twitterF {
  display: block;
  width: 27px;
  height: 27px;
  background: url("../img/iconsFooter.png") -110px -11px;
}
#mainFooter .link-tfp li .twitterF:hover {
  background-position: -110px -60px;
}
#mainFooter .link-tfp li .facebookF {
  display: block;
  width: 27px;
  height: 27px;
  background: url("../img/iconsFooter.png") -11px -12px;
}
#mainFooter .link-tfp li .facebookF:hover {
  background-position: -11px -60px;
}
#mainFooter .link-tfp li .pinterestF {
  display: block;
  width: 27px;
  height: 27px;
  background: url("../img/iconsFooter.png") -61px -12px;
}
#mainFooter .link-tfp li .pinterestF:hover {
  background-position: -60px -60px;
}
/*
другие размеры (max-width: 575px == «данный размер или меньше»)

// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) { ... }

// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) { ... }

// Средние девайсы («таблетки», < 992px) 
@media (max-width: 991.98px) { ... }

// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) { ... }
*/
