@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
fieldset,
img {
  border: 0;
}
li {
  list-style: none;
}
input,
textarea,
select {
  font-size: 110%;
  line-height: 1.1;
}
a {
  color: black;
  text-decoration: none;
}
html,
body {
  height: 100%;
}
body {
  background: url(../img/bgBody.jpg) repeat;
  color: #7e7d7e;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}
#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}
#wrapper #mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
#mainAside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 286px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  position: relative;
  -webkit-box-shadow: 3px 0px 5px -2px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 3px 0px 5px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 0px 5px -2px rgba(0, 0, 0, 0.5);
}
#mainAside .logo {
  margin: 20px 0 40px 0;
}
#mainAside .mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
#mainAside .mainNav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 235px;
  height: 45px;
  margin: 10px 0 10px 0;
  position: relative;
  left: 22px;
}
#mainAside .mainNav ul li:hover {
  background: #6cb9d4;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
#mainAside .mainNav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 35px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  left: 15px;
}
#mainAside .mainNav ul li a span {
  position: relative;
  left: 40px;
}
#mainAside .mainNav ul li .home {
  background: url("../img/iconMenu/home.png") no-repeat 0 4px;
}
#mainAside .mainNav ul li .home:hover {
  color: #fff;
  background: url("../img/iconMenu/homeHover.png") no-repeat 0 4px;
}
#mainAside .mainNav ul li .videos {
  background: url("../img/iconMenu/video.png") no-repeat 0 4px;
}
#mainAside .mainNav ul li .videos:hover {
  color: #fff;
  background: url("../img/iconMenu/videoHover.png") no-repeat 0 4px;
}
#mainAside .mainNav ul li .images {
  background: url("../img/iconMenu/images.png") no-repeat 0 4px;
}
#mainAside .mainNav ul li .images:hover {
  color: #fff;
  background: url("../img/iconMenu/imagesHover.png") no-repeat 0 4px;
}
#mainAside .mainNav ul li .articles {
  background: url("../img/iconMenu/articles.png") no-repeat 0 4px;
}
#mainAside .mainNav ul li .articles:hover {
  color: #fff;
  background: url("../img/iconMenu/articlesHover.png") no-repeat 0 4px;
}
#mainAside .mainNav ul li .freebies {
  background: url("../img/iconMenu/articles.png") no-repeat 0 5px;
}
#mainAside .mainNav ul li .freebies:hover {
  color: #fff;
  background: url("../img/iconMenu/articlesHover.png") no-repeat 0 4px;
}
#mainAside .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 200px;
  margin: 40px 0 40px 0;
}
#mainAside .about h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
#mainAside .about p {
  font-size: 16px;
}
#mainAside .tags {
  text-align: center;
  margin-bottom: 70px;
}
#mainAside .tags h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
#mainAside .tags h2 img {
  width: 32px;
  height: 28px;
  position: relative;
  top: 5px;
  left: -10px;
}
#mainAside .tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 180px;
  height: 120px;
}
#mainAside .tags ul li {
  background: #eaeaea;
  border: #d1d1d1 1px solid;
  border-radius: 5px;
  padding: 5px;
}
#mainAside .tags ul li:hover {
  background: #d1d1d1;
  border: #b7b7b7 1px solid;
}
#mainAside .tags ul li a {
  color: #7e7d7e;
}
#mainSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: url(../img/bgContent.jpg) repeat;
  border-top: #6cb9d4 7px solid;
  padding-top: 30px;
}
#mainSection .mainName-SocialNetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px 0 70px;
}
#mainSection .mainName-SocialNetwork .caption h1 {
  font-size: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
#mainSection .mainName-SocialNetwork .caption h1 i {
  display: block;
  background: url("../img/iconCamera.png");
  width: 45px;
  height: 35px;
  margin-right: 20px;
}
#mainSection .mainName-SocialNetwork .caption h1 span {
  font-weight: bold;
  margin-right: 10px;
}
#mainSection .mainName-SocialNetwork .link-net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainSection .mainName-SocialNetwork .link-net ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
#mainSection .mainName-SocialNetwork .link-net ul li:first-child {
  background: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#mainSection .mainName-SocialNetwork .link-net ul li:last-child {
  background: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#mainSection .mainName-SocialNetwork .link-net ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  padding: 10px;
  background: #fff;
}
#mainSection .mainName-SocialNetwork .link-net ul li:hover {
  background: #6cb9d4;
}
#mainSection .mainName-SocialNetwork .link-net ul li .twitterH {
  display: block;
  background: url("../img/iconHeader.png") -14px -18px;
  width: 25px;
  height: 17px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .twitterH:hover {
  background-position: -13px -65px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .facebookH {
  display: block;
  background: url("../img/iconHeader.png") -68px -18px;
  width: 9px;
  height: 18px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .facebookH:hover {
  background-position: -71px -64px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .googleH {
  display: block;
  background: url("../img/iconHeader.png") -114px -20px;
  width: 18px;
  height: 18px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .googleH:hover {
  background-position: -114px -65px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .pinterestH {
  display: block;
  background: url("../img/iconHeader.png") -165px -19px;
  width: 18px;
  height: 18px;
}
#mainSection .mainName-SocialNetwork .link-net ul li .pinterestH:hover {
  background-position: -166px -65px;
}
#mainFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 75px;
  background: #ffffff;
  border-top: #000 10px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px 0 30px;
}
#mainFooter .footerText ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
#mainFooter .footerText ul li:first-child {
  padding-right: 5px;
  margin-right: 5px;
  border-right: #7e7d7e 1px solid;
}
#mainFooter .footerText ul li:last-child {
  padding-left: 5px;
  margin-left: 5px;
  border-left: #7e7d7e 1px solid;
}
#mainFooter .footerText ul li a {
  color: #7e7d7e;
}
#mainFooter .footerText ul li a:hover {
  text-decoration: underline;
}
#mainFooter .link-tfp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
#mainFooter .link-tfp li {
  margin-left: 20px;
}
#mainFooter .link-tfp li .twitterF {
  display: block;
  width: 27px;
  height: 27px;
  background: url("../img/iconsFooter.png") -110px -11px;
}
#mainFooter .link-tfp li .twitterF:hover {
  background-position: -110px -60px;
}
#mainFooter .link-tfp li .facebookF {
  display: block;
  width: 27px;
  height: 27px;
  background: url("../img/iconsFooter.png") -11px -12px;
}
#mainFooter .link-tfp li .facebookF:hover {
  background-position: -11px -60px;
}
#mainFooter .link-tfp li .pinterestF {
  display: block;
  width: 27px;
  height: 27px;
  background: url("../img/iconsFooter.png") -61px -12px;
}
#mainFooter .link-tfp li .pinterestF:hover {
  background-position: -60px -60px;
}
/*
другие размеры (max-width: 575px == «данный размер или меньше»)

// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) { ... }

// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) { ... }

// Средние девайсы («таблетки», < 992px) 
@media (max-width: 991.98px) { ... }

// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) { ... }
*/
