//reset styles {
@import "reset";
// }

//default color {
@defColorText: #7e7d7e;
@defColorHeading : #000;
// --BG--
@defColorBGbody : ~"url(../img/bgBody.jpg)";
@defColorBGmainAside : #fff;
@defColorBGmainSection : ~"url(../img/bgContent.jpg)";
@defColorBGmainFooter : #fff;
@defColorBGlink : #6cb9d4;
//}

//default size {
@defSizeWidthWrapper: 1000px;
@defSizeWidthMainAside: 286px;
@defSizeWidthMainSection: 3;
@defSizeHeightFooter: 75px;
// }

//mixins {

// }
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body{
    height: 100%;
}

body{
    background: @defColorBGbody repeat;
    color: @defColorText;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

#wrapper{
    display: flex;
    flex-flow: column;
    width: @defSizeWidthWrapper;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    
    & #mainContent{
        display: flex;
        flex: 1 0 auto;
        flex-flow: row;
    }
}

//default flexbox {
@import "flexbox";
// }

//within the #ID: wrapper {

    //within the #ID: mainContent {
    @import "blocks/mainAside";
    @import "blocks/mainSection";
    // }

@import "blocks/mainFooter";
// }

//media requests for adaptation { 
@import "media";
// }