#mainSection{
    display: flex;
    flex: @defSizeWidthMainSection;
    flex-flow: column;
    background: @defColorBGmainSection repeat;
    border-top: @defColorBGlink 7px solid;
    padding-top: 30px;
    
    & .mainName-SocialNetwork{
        display: flex;
        justify-content: space-between;
        padding: 0 5px 0 70px;
        margin-bottom: 30px;
        
        & .caption{
            
            & h1{
                font-size: 38px;
                display: flex;
                flex-flow: row;
            
                & i{
                    display: block;
                    background: url("../img/iconCamera.png");
                    width: 45px;
                    height: 35px;
                    margin-right: 20px;
                }
            
                & span{
                    font-weight: bold;
                    margin-right: 10px;
                }
            }
        }
        
        & .link-net{
            display: flex;
            align-items: center;
            
            & ul{
                display: flex;
                flex-flow: row;
            
                & li{
                    display: flex;
                    justify-content: center;
                    
                    
                    & .twitterH{
                        display: block;
                        background: url("../img/iconHeader.png") 0 0 ;
	                    width: 53px;
	                    height: 33px;
                        
                        &:hover{
                            background-position: 0 -33.0000114440918px ;
                        }
                    }
                    & .facebookH{
                        display: block;
                        background: url("../img/iconHeader.png") -55px 0 ;
	                    width: 46px;
	                    height: 33px;
                        
                        &:hover{
                            background-position: -55px -33.000003814697266px ;
                        }
                    }
                    & .googleH{
                        display: block;
                        background: url("../img/iconHeader.png") -103.00000762939453px 0 ;
	                    width: 46px;
	                    height: 33px;
                        
                        &:hover{
                            background-position: -103.00000762939453px -34.000003814697266px ;
                        }
                    }
                    & .pinterestH{
                        display: block;
                        background: url("../img/iconHeader.png") -152.00000762939453px 0 ;
	                    width: 45px;
	                    height: 33px;
                        
                        &:hover{
                            background-position: -152.00000762939453px -34.000003814697266px ;
                        }
                    }
                }
            }
        }
    }
    
    .mainVideo{
        display: flex;
        flex-flow: column;
        align-items: center;
            
        & .video-player{
                
        }
            
        & .comm-video-player{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 666px;
            background: #eaeaea;
            border: darken(#eaeaea, 10%) 1px solid;
            box-sizing: border-box;
            padding: 10px;
            
            & ul{
                display: flex;
                position: relative;
                left: 5px;
                
                & li{
                    margin-left: 20px;
                    
                    & a{
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        color: @defColorBGlink;
                        
                        & .transition{
                            display: block;
                            background: url("../img/sprites.png") -4px -7px;
                            width: 15px;
	                        height: 13px;
                            position: relative;
                            left: -5px;
                        }
                        & .like{
                            display: block;
                            background: url("../img/sprites.png") -25px -7px;
                            width: 12px;
	                        height: 12px;
                            position: relative;
                            left: -5px;
                        }
                        & .share{
                            display: block;
                            background: url("../img/sprites.png") -44px -5px;
                            width: 17px;
	                        height: 18px;
                            position: relative;
                            left: -5px;
                        }
                    }
                }
            }
        }
    }
    
    & .viewPanel{
        display: flex;
        justify-content: flex-end;
        margin: 30px 50px;
        
        & ul{
            display: flex;
            align-items: center;
            
            & li:first-child{
                position: relative;
                right: 10px;
            }
            
            & li{
                
                & .line-view{
                    display: block;
                    background: url("../img/viewIcon.png") 0 0;
	                width: 39px;
	                height: 32px;
                    
                    &:hover{
                        background-position: 0 -36px;
                    }
                }
                & .line-view-active{
                    display: block;
                    background: url("../img/viewIcon.png") 0 -36px;
	                width: 39px;
	                height: 32px;
                }
                
                & .block-view{
                    display: block;
                    background: url("../img/viewIcon.png") -43px 0;
	                width: 43px;
	                height: 32px;
                    
                    &:hover{
                        background-position: -43px -36px;
                    }
                    & .block-view-active{
                        display: block;
                        background: url("../img/viewIcon.png") -43px -36px;
	                    width: 43px;
	                    height: 32px;
                }
                }
            }
        }
    }
}