#mainSection{
    display: flex;
    flex: @defSizeWidthMainSection;
    flex-flow: column;
    background: @defColorBGmainSection repeat;
    border-top: @defColorBGlink 7px solid;
    padding-top: 30px;
    
    & .mainName-SocialNetwork{
        display: flex;
        justify-content: space-between;
        padding: 0 5px 0 70px;
        
        & .caption{
            
            & h1{
                font-size: 38px;
                display: flex;
                flex-flow: row;
            
                & i{
                    display: block;
                    background: url("../img/iconCamera.png");
                    width: 45px;
                    height: 35px;
                    margin-right: 20px;
                }
            
                & span{
                    font-weight: bold;
                    margin-right: 10px;
                }
            }
        }
        
        & .link-net{
            display: flex;
            align-items: center;
            
            & ul{
                display: flex;
                flex-flow: row;
                
                & li:first-child{
                    background: #fff;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                & li:last-child{
                    background: #fff;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            
                & li{
                    display: flex;
                    justify-content: center;
                    width: 25px;
                    padding: 10px;
                    background: #fff;
                    
                    &:hover{
                        background: @defColorBGlink;
                    }
                    
                    & .twitterH{
                        display: block;
                        background: url("../img/iconHeader.png") -14px -18px ;
	                    width: 25px;
	                    height: 17px;
                        
                        &:hover{
                            background-position: -13px -65px ;
                        }
                    }
                    & .facebookH{
                        display: block;
                        background: url("../img/iconHeader.png") -68px -18px ;
	                    width: 9px;
	                    height: 18px;
                        
                        &:hover{
                            background-position: -71px -64px ;
                        }
                    }
                    & .googleH{
                        display: block;
                        background: url("../img/iconHeader.png") -114px -20px ;
	                    width: 18px;
	                    height: 18px;
                        
                        &:hover{
                            background-position: -114px -65px ;
                        }
                    }
                    & .pinterestH{
                        display: block;
                        background: url("../img/iconHeader.png") -165px -19px ;
	                    width: 18px;
	                    height: 18px;
                        
                        &:hover{
                            background-position: -166px -65px ;
                        }
                    }
                }
            }
        }
    }

}