#mainAside{
    display: flex;
    width: @defSizeWidthMainAside;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background: @defColorBGmainAside repeat-y;
    
}