.iconH_01, .iconH_02, .iconH_03, .iconH_04, .iconH_05, .iconH_06, .iconH_07, .iconH_08{
	background: url(sprites.png) no-repeat;
}

.iconH_01{
	background-position: 0 0;
	width: 53px;
	height: 33px;
}

.iconH_02{
	background-position: -55px 0;
	width: 46px;
	height: 33px;
}

.iconH_03{
	background-position: -103.00000762939453px 0;
	width: 46px;
	height: 33px;
}

.iconH_04{
	background-position: -152.00000762939453px 0;
	width: 45px;
	height: 33px;
}

.iconH_05{
	background-position: 0 -33.0000114440918px ;
	width: 53px;
	height: 32px;
}

.iconH_06{
	background-position: -55px -33.000003814697266px ;
	width: 46px;
	height: 32px;
}

.iconH_07{
	background-position: -103.00000762939453px -34.000003814697266px ;
	width: 46px;
	height: 32px;
}

.iconH_08{
	background-position: -152.00000762939453px -34.000003814697266px ;
	width: 45px;
	height: 32px;
}

