.home, .homeHover, .video, .videoHover, .image, .imageHover, .articel, .articelHover{
	background: url(sprites.png) no-repeat;
}

.home{
	background-position: 0 0;
	width: 40px;
	height: 44px;
}

.homeHover{
	background-position: -42px 0;
	width: 219px;
	height: 44px;
}

.video{
	background-position: 0 -51px ;
	width: 40px;
	height: 44px;
}

.videoHover{
	background-position: -42px -50px ;
	width: 219px;
	height: 44px;
}

.image{
	background-position: 0 -101px ;
	width: 40px;
	height: 44px;
}

.imageHover{
	background-position: -42px -100px ;
	width: 219px;
	height: 44px;
}

.articel{
	background-position: 0 -151px ;
	width: 40px;
	height: 44px;
}

.articelHover{
	background-position: -42px -150px ;
	width: 219px;
	height: 44px;
}

